In [1]:
from pymongo import MongoClient
import pymongo
import pprint

In [2]:
client = MongoClient("localhost:27017")

In [3]:
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
client.list_database_names()

['admin', 'config', 'local', 'test']

In [5]:
if 'test' in client.list_database_names():
    db = client['test']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [12]:
collection = db['posts']
collection.find_one({"age": 24})

{'_id': ObjectId('62f94d629349d2872c8bd385'), 'F_name': 'Karl', 'age': 24}

In [13]:
new_posts = [{
    'F_name': 'Mike',
    'L_name': 'King',
    'age': 23,
    'books': ['Shine', 'Black house', 'Mizery']
},
{
    'F_name': 'Karl',
    'L_name': 'King',
    'age': 24,
    'books': ['Shine', 'Black house', 'Mizery']
}]

In [33]:
result = db.posts.insert_many(new_posts)
result.inserted_ids

[ObjectId('62f94ea09349d2872c8bd386'), ObjectId('62f94ea09349d2872c8bd387')]

In [39]:
for i in db.posts.find({'age': 23}):
    pprint.pprint(i)

{'F_name': 'Stiven',
 'L_name': 'King',
 '_id': ObjectId('62f6bc631bfcbd67e21ecf2b'),
 'age': 23,
 'books': ['Shine', 'Black house', 'Mizery']}
{'F_name': 'Mike', '_id': ObjectId('62f94d629349d2872c8bd384'), 'age': 23}
{'F_name': 'Mike',
 'L_name': 'King',
 '_id': ObjectId('62f94ea09349d2872c8bd386'),
 'age': 23,
 'books': ['Shine', 'Black house', 'Mizery']}

In [15]:
result = db.profiles.create_index([('user_id', pymongo.ASCENDING)],
                                 unique = True)
db.profiles.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]},
 'user_id_1': {'v': 2, 'key': [('user_id', 1)], 'unique': True}}

In [16]:
db.profiles.insert_many([{'user_id': 11,
                       'name': "james"},
                        {'user_id': 12,
                        'name': "Mike"}])

In [18]:
try:
    db.profiles.insert_one({'user_id': 11,
                       'name': 'Mike'})
except Exception:
    db.profiles.insert_one({'user_id': 13,
                       'name': 'Gordon'})